<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xyz.question_bank_management_system.mapper.QbAssignmentTargetClassMapper">

    <insert id="batchInsert">
        INSERT INTO qb_assignment_target_class(assignment_id, class_id, created_at)
        VALUES
        <foreach collection="classIds" item="cid" separator=",">
            (#{assignmentId}, #{cid}, NOW(3))
        </foreach>
    </insert>

</mapper>
