<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xyz.question_bank_management_system.mapper.QbAttemptQuestionMapper">

    <insert id="batchInsert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO qb_attempt_question(attempt_id, question_id, order_no, score, snapshot_json, snapshot_hash, question_type, difficulty, tag_ids_json)
        VALUES
        <foreach collection="list" item="it" separator=",">
            (#{it.attemptId}, #{it.questionId}, #{it.orderNo}, #{it.score}, #{it.snapshotJson}, #{it.snapshotHash}, #{it.questionType}, #{it.difficulty}, #{it.tagIdsJson})
        </foreach>
    </insert>

</mapper>
