<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xyz.question_bank_management_system.mapper.QbQuestionTagMapper">

    <insert id="batchInsert">
        INSERT INTO qb_question_tag(question_id, tag_id, created_at)
        VALUES
        <foreach collection="tagIds" item="tid" separator=",">
            (#{questionId}, #{tid}, NOW(3))
        </foreach>
    </insert>

</mapper>
