<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xyz.question_bank_management_system.mapper.QbQuestionOptionMapper">

    <insert id="batchInsert">
        INSERT INTO qb_question_option(question_id, option_label, option_content, is_correct, sort_order)
        VALUES
        <foreach collection="list" item="it" separator=",">
            (#{it.questionId}, #{it.optionLabel}, #{it.optionContent}, #{it.isCorrect}, #{it.sortOrder})
        </foreach>
    </insert>

</mapper>
